<h1>Your random link</h1>
<p>
	<%= @num %>
    <% if !@link.blank? %>    	
        Your random url is <a href='<%= @link.url %>'><%= @link.url %></a>
    <% else %>
        Sorry, you have not been assigned a link yet. Don't worry, we'll get one for you soon
    <% end %>
</p>
