/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

a.black{
	color: white;
}

a.black:hover{
	color: black;
}

.white-text{
	color: white;
}

.title{
	font-size: 1.3em;
}
#header-container{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #c87406
}

#alert-container{
    padding-top: 10px;
    padding-bottom: 10px;
}

#content-container{
    padding-top: 10px;
    padding-bottom: 20px;
}